.timer {
  border-bottom: none;
}

.timer-tile {
  font-weight: bolder;
  font-size: 20px;
}

.timer-project {
  font-weight: bolder;
  color: lightslategray;
}

.timer-elapsed {
  font-weight: bolder;
  font-size: 24px;
  margin: 5px auto;
}

.timer-elapsed {
  align-self: center;
  justify-self: end;
}

.timer-icons {
  display: flex;
  justify-content: flex-end;
}

.timer-icons > * {
  margin: 0 6px;
  font-size: 18px;
}

.timer-icons > * :hover {
  color: dodgerblue;
}

.runtime-button {
  text-align: center;
  border: 1px solid green;
  border-radius: 0 0 5px 5px;
  font-weight: bolder;
  padding: 5px 0;
  color: green;
}

.runtime-button:hover {
  color: white;
  background: green;
}

.runtime-button.running {
  border: 1px solid red;
  border-radius: 0 0 5px 5px;
  color: red;
}

.runtime-button.running:hover {
  color: white;
  background: red;
}
